:root {
    --White: hsl(0, 0%, 100%);
    --Lightgray: hsl(212, 45%, 89%);
    --Grayishblue: hsl(220, 15%, 55%);
    --Darkblue: hsl(218, 44%, 22%);
    --fuente: 'Outfit', sans-serif;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; 
    background-color: var(--Lightgray);
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    line-height: 1.5;
}
p {
    font-size: 15px;
}
img {
    max-width: 100%;
}
.centrar-texto {
    text-align: center;
    font-family: var(--fuente);
}
.contenedor {
    max-width: 120rem;
    max-height: 100vh;
    margin: 0 auto;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.caja {
    width: 30rem;
    height: fit-content;
    background-color: var(--White);
    padding: 1.5rem;
    border-radius: 1rem;
} 
.caja__imagen {
    border-radius: 1rem;
}
.info {
    width: 93%;
    margin: 0 auto;
}
h1 {
    color: var(--Darkblue);
    font-size: 2.2rem;
}
p {
    color: var(--Grayishblue);
}
